<!DOCTYPE html>

<head>
  <!--   -----------            헤드        --------------->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Blog Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">

  <!--   -----------            헤드        --------------->
</head>








<body>


  <!--   -----------            사이드바        --------------->
  <div class="wrapper">
    <div class="overlay"></div>

    <nav id="mySidenav" class="sidenav">
      <div class="sidebarContent">

        <div class="row no-gutters" id="logoBox">
          장애인의 개발일기
        </div>
        <div class="row no-gutters" id="loginBox">
          <form>

            <div class="group">
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>ID</label>
            </div>

            <div class="group">
              <input type="text" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>PASSWORD</label>
            </div>

            <button class="formbtn fifth">Login!</button>
          </form>
        </div>

        <ul class="sidebarnav" id="nav">
          <li onclick="getPaging()">블로그 메인</li>
          <li onclick="getPaging()">포트폴리오</li>
          <li onclick="getPaging()">연락</li>
        </ul>

      </div>
    </nav>

    <!--   -----------            사이드바        --------------->

    <!--   -----------                       헤  더        --------------->
    <div class="content">

      <header class="headerBox">
        <div id="line-wrapper" onclick="myFunction(this)">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="headerItem">
          장애인의 개발일기
        </div>
        <form class="searchform">
          <input type="text" name="input" class="input">
          <button type="reset" class="search"></button>
        </form>
      </header>

      <!--   -----------                       헤  더        --------------->



      <!--   -----------                       컨텐츠        --------------->

      <div class="container-fluid">

        <div id="emptydiv"></div>
        <!-- HashTag List -->
        <div class="nav-scroller py-1 mb-2" id="hashtagbox">
          <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted" href="#">해쉬태그리스트~!</a>
          </nav>
        </div>

        <div class="row mb-2">

          <div class="col-md-6 contentItem">
            <div class="card box-shadow h-md-250">
              <img class="card-img-right flex-auto contentThumbnail" onclick="getPaging()"
                data-src="holder.js/autox250?theme=thumb" alt="Thumbnail [autox250]" style="width: auto; height: 250px;"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1699f3b9bc5%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1699f3b9bc5%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true">
              <div class="card-body d-flex flex-column align-items-start postContent">
                <p class="postTitle" onclick="getPaging()">포스트 제목</p>
                <p class="postDay">2019년 3월 26일</p>
                <p class="postContent">This is a wider card with supporting text below as a natural lead-in to
                  additional content.</p>
                <div class="hashtaglist">
                  <a class="postHashtag" href="#">해쉬태그</a> <a class="postHashtag" href="#">해쉬태그 </a> <a
                    class="postHashtag" href="#">해쉬태그 </a> <a class="postHashtag" href="#">해쉬태그 </a> <a
                    class="postHashtag" href="#">해쉬태그 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--   -----------                       컨텐츠        --------------->





        <!--   -----------                       푸터        --------------->
        <footer class="blog-footer">
          <a href="https://getbootstrap.com/">Bootstrap</a>기본 템플릿에 여러 CSS효과를 적용함</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>
  <script>
    var windowWidth = 0;

    $(document).ready(function () {
      windowWidth = $(window).width();
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
      $('.overlay').hide();

    });


    $(window).resize(function () {
      windowWidth = $(window).width();

      if (windowWidth >= 768) {
        $(".headerItem").removeClass("onSearchForm");
      }
      if (windowWidth < 768 && $('.searchform .search').hasClass('close') && !$('.headerItem').hasClass('onSearchForm')) {

        $(".headerItem").toggleClass("onSearchForm");
      }
    });


    myFunction = function () {
      $('.sidenav').addClass('active');
      $('.overlay').show();
      $('.headerBox').css("z-index", "998");
    };


    $('.overlay').on('click', function () {
      $('.sidenav').removeClass('active');
      $('.overlay').hide();
    });

    getPaging = function () {
      alert('ddd');
    };



    function expand() {

      if (!$('.searchform .search').hasClass('close')) {
        $(".headerItem").removeClass("onSearchForm");
      }
      if (windowWidth < 768) {
        $(".headerItem").toggleClass("onSearchForm");
      }
      $(".searchform .search").toggleClass("close");
      $(".searchform .input").toggleClass("square");
      $(".searchform").toggleClass("opensearch");
      if ($('.searchform .search').hasClass('close')) {
        $('input').focus();
      } else {
        $('input').blur();
      }
    }
    $('button').on('click', expand);
  </script>
  <!--   -----------                       푸터        --------------->

</body>

</html>